{% extends 'main.html' %}
{% load static %}
{% block content %}


{% if page == 'register' %}

<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <a href="{% url 'login' %}">
                <img src="{% static 'images/icon.svg' %}" alt="icon" />
            </a>
            <h3>Register an Account</h3>
            <p>Create a new developer account</p>
        </div>

        <form method="POST" action="{% url 'register' %}" class="form auth__form">
            {% csrf_token %}

            {% for field in form %}
            <div class="form__field">
                <label for="formInput#text">{{field.label}}</label>
                {{field}}

                <!-- {% if field.help_text %}
                <small>{{field.help_text}}</small>
                {% endif %} -->

                {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
                {% endfor %}

            </div>

            {% endfor %}

            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
            </div>
        </form>
        <div class="auth__alternative">
            <p>Already have an Account?</p>
            <a href="{% url 'login' %}">Log In</a>
        </div>
    </div>
</div>



{% else %}

<div class="auth">

    <div class="card">

        <div class="auth__header text-center">
            <a href="/">
                <img src="{% static 'images/icon.svg' %}" alt="icon" />
            </a>
            <h3>Account Login</h3>
            <p>Hello Developer, Welcome Back!</p>
        </div>

        <form action="" method="POST" class="form auth__form">
            {% csrf_token %}
            <!-- Input:Username -->
            <div class="form__field">
                <label for="formInput#text">Username: </label>
                <input class="input input--text" id="formInput#text" type="text" name="username"
                    placeholder="Enter your username..." />
            </div>

            <!-- Input:Password -->
            <div class="form__field">
                <label for="formInput#password">Password: </label>
                <input class="input input--password" id="formInput#password" type="password" name="password"
                    placeholder="••••••••" />
            </div>

            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
                <a href="{% url 'login' %}">Forget Password?</a>
            </div>
        </form>


        <!-- GOOOGLE SIGN _IN  -->
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <p> Or use Google to sign in</p>
        <script>
        function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
        }
        </script>
        <!-- GOOOGLE SIGN _IN  -->

        <div class="auth__alternative">
            <p>Don’t have an Account?</p>
            <a href="{% url 'register' %}">Sign Up</a>
        </div>
    </div>
</div>


{% endif %}




{% endblock content %}