{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
<main class="home">
    <section class="hero-section text-center">
        <div class="container container--narrow">
          <div class="hero-section__box">
            <h2>Search for <span>Projects</span></h2>
          </div>
  
          <div class="hero-section__search">
            <form  id="searchForm" class="form" action="{% url 'profiles' %}" method="get">
              <div class="form__field">
                <label for="formInput#search">Search By Projects </label>
                <input class="input input--text" id="formInput#search" type="text" name="search_value" value="{{search_value}}"
                  placeholder="Search by Project Title" />
              </div>
  
              <input class="btn btn--sub btn--lg" type="submit" value="Search" />
            </form>
          </div>
        </div>
      </section>



    <!-- Search Result: DevList -->
    <section class="devlist">
        <div class="container">
            <div class="grid grid--three">

                {% for profile in profiles %}
                <div class="column card">
                    <div class="dev">
                        <a href="{% url 'single_profile' profile.id %}" class="card__body">
                            <div class="dev__profile">
                                <img class="avatar avatar--md" src="{{ profile.profile_image.url }}" alt="image" />
                                <div class="dev__meta">
                                    <h3>{{profile.name}}</h3>
                                    <h5>{{profile.short_intro|slice:"60"}}</h5>
                                </div>
                            </div>
                            <p class="dev__info">{{profile.bio|slice:"150"}}</p>
                            <div class="dev__skills">

                                {% for skill in profile.skill_set.all|slice:"5" %}
                                <span class="tag tag--pill tag--main">
                                    <small>{{skill}}</small>
                                </span>
                                {% endfor %}

                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>


    <div class="pagination">
      <ul class="container">
        {% if profiles.has_previous %}  
        <li><a href="?page={{profiles.previous_page_number}}" class="btn btn--disabled" data-page="{{profiles.previous_page_number}}">&#10094; Prev</a></li>
        {% endif %}
        {% for page in custom_pagination %}
          {%if profiles.number == page %}
          <li><a href="?page={{page}}" class="btn page-link btn--sub" data-page="{{page}}">{{page}}</a></li>
          {%else%}
          <li><a href="?page={{page}}" class="btn page-link" data-page="{{page}}">{{page}}</a></li>
          {%endif%}
        {% endfor %}
        {% if profiles.has_next %}
        <li><a href="?page={{profiles.next_page_number}}" class="btn" data-page="{{profiles.next_page_number}}">Next &#10095;</a></li>
        {% endif %}
      </ul>
    </div>

    
</main>

{% endblock content %}